@use "../../styles/global.scss" as *;
@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials//variables" as *;
.Calculator {
  &__header {
    margin-bottom: 1rem;
    font-family: "Plus-Jakarta";
    h1 {
      font-weight: 700;
    }
    font-weight: 100;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    label {
      font-family: "Plus-Jakarta";
    }
    &__input {
   
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      border: 1px solid $Slate-500;
      &--field {
        border: none;
        outline: none;
        width: 100%;
        padding-left: 10px;
        font-size: 1rem;
      }

      span {
        background-color: $Slate-100;
        padding: 1rem;
        font-weight: 500;
      }
    }
    &__radio {
      border: 1px solid $Slate-500;
 
      margin-top: 10px;
      padding: 1rem;
      display: flex;
      gap: 10px;
    }
    .mortgage_submit {
    
      padding: 1rem;
      border-radius: 40px;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: 0;
      background-color: $lime-color;
      color: $Slate-900;
      font-weight: 700;
    }
  }
}
