@use "../../styles/global.scss" as *;
@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials//variables" as *;
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  padding: 2em;
  @include desktop {
    padding: 0;
  }

  &__resultshown {
    font-size: 1.5rem;
    color: $white;
  }
  &__para {
    text-align: center;
    color: $Slate-300;
  }
}
