@use "../../styles/global.scss" as *;
@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials//variables" as *;

.result {
  background-color: $Slate-900;
  padding: 1.2rem;
  h3 {
    color: $white;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  p{
    color: $Slate-300;
    font-size: 15px;
  }
&-box {
    background-color: $Slate-900;
    margin-top: 1.3rem;
    box-shadow: 0px -12px 0px -5px $lime-color;
    padding: 1rem;
    border-radius: 10px;
    h4{
        font-size: 15px;
        color: $Slate-300;
    }
    &-h2{
        display:flex;
        align-items: center;
        font-size: 30px;
        color:$lime-color;
    }
  }
}
