@use "../src/styles/partials/fonts" as *;
@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.app {
  width: 20%;
  margin: auto;
  //background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include desktop {
    display: flex;
  }
}
