@use "../src/styles/partials/fonts" as *;
@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.app {
  @include desktop {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 600px;  
  }
}
